<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiit.webapi.mapper.PoemMapper">
    <select id="findPoem" resultType="com.aiit.webapi.model.entity.Poem">
        SELECT * from tb_poems
    </select>
    <select id="count" resultType="com.aiit.webapi.model.vo.CountVo">
        SELECT DISTINCT classify_name as name, count(1) as number
        FROM tb_poems as poem
            Left join tb_classify as classify
        on poem.classify_id = classify.id
        where isPublish = 1
        GROUP BY classify_name
        order By number desc;
    </select>
</mapper>