<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiit.webapi.mapper.UserMapper">
    <resultMap id="UserResult" type="com.aiit.webapi.model.entity.User">
        <result property="id" column="id"></result>
        <result property="name" column="name"></result>
        <result property="age" column="age"></result>
    </resultMap>
    <!-- 在mapper中添加属性useGeneratedKeys和指定keyProperty属性 -->
    <insert id="addUser" useGeneratedKeys="true" keyProperty="user.id"   parameterType="com.aiit.webapi.model.entity.User" >
        INSERT INTO tb_user (id, name, age, email, account, password, dept_id)
        VALUES
            (#{user.id}, #{user.name}, #{user.age}, #{user.email}, #{user.account}, #{user.password}, #{user.deptId});
    </insert>
    <update id="updateUser">
        UPDATE tb_user
        SET name = #{user.name}, age = #{user.age}
            WHERE id = #{user.id};
    </update>
    <select id="findUsers" resultMap="UserResult">
        select tb_user.id, tb_user.name,  tb_dept.id as deptId, tb_dept.name as deptName from tb_user
        Left join tb_dept
        on tb_user.dept_id = tb_dept.id
        order by id desc
        limit #{pageOffset}, #{pageSize}
    </select>
    <select id="findAll" resultType="com.aiit.webapi.model.vo.UserInfoVo">
        select tb_user.id, tb_user.name, tb_dept.id as deptId, tb_dept.name as deptName from tb_user
         Left join tb_dept
         on tb_user.dept_id = tb_dept.id
         where 1 = 1
        <if test="userInfo!=null">
            <if test="userInfo.name">
                and tb_user.name like '%' #{userInfo.name} '%'
            </if>
            <if test="userInfo.deptId">
                and tb_dept.id = #{userInfo.deptId}
            </if>
        </if>
    </select>
    <select id="login" resultType="java.lang.Integer">
        select count(1) from tb_user
        where 1 = 1
          and tb_user.password = #{user.password} and tb_user.account = #{user.username}
    </select>
</mapper>